@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img-shadow {
	box-shadow: 0px -60px 30px -30px rgb(255, 255, 255) inset;
}

.grad-bg {
	background: linear-gradient(45deg, #ff6200, #ff0606);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	color: transparent;
}
